!!!
%head
  %meta{ :charset => "utf-8" }
  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

  %title IPP

  = stylesheet_link_tag "application"
  = csrf_meta_tag

%body
  / = render 'application/flash_messages'
  = yield

  = I18n.l Time.now
%br
  = Dir.pwd
